.student-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .student-content-container{
        width: 100%;
        min-height: calc(100% - 8rem);
        display: flex;
        flex-direction: column;
        .student-content-header-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 12rem;
            padding-top: 3rem;
            height: 4rem;
            color: white;
            width: calc(100% - 24rem);
            .student-content-header-left{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .student-content-title{
                    font-size: 1.6rem;
                }
                .mobile-separator{
                    display: flex;
                    flex-direction: row;
                    .student-content-search-input{
                        min-height: 2rem;
                        width: 8rem;
                        border: 1px solid #a6a6a6;
                        font-size: 1rem;
                        outline: none;
                        margin-left: 0.5rem;
                        background: black;
                        color: white;
                        padding: 0 0.5rem;
                        text-decoration: none;
                    }
                    .student-content-dropdown-first{
                        color: #a6a6a6;
                        cursor: pointer;
                        outline: none;
                        font-size: 1rem;
                        border: 1px solid #a6a6a6;
                        min-height: 2rem;
                        min-width: 5.5rem;
                        margin-left: 3rem;
                        .react-select__control{
                            background: black;
                            outline: none;
                            border: none;
                            min-height: 1.5rem;
                            box-shadow: none;
                            .react-select__value-container{
                                border: none;
                                .react-select__single-value{
                                    font-size: 1rem;
                                    color: white;
                                }
                            }
                            .react-select__indicators{
                                border: none;
                                padding: 0;
                                .react-select__indicator-separator{
                                    display: none;
                                }
                                .react-select__indicator{
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                    .student-content-dropdown-second{
                        color: #a6a6a6;
                        cursor: pointer;
                        outline: none;
                        font-size: 1rem;
                        border: 1px solid #a6a6a6;
                        min-height: 2rem;
                        min-width: 5.5rem;
                        margin-left: 0.5rem;
                        .react-select__control{
                            background: black;
                            outline: none;
                            border: none;
                            min-height: 1.5rem;
                            box-shadow: none;
                            .react-select__value-container{
                                border: none;
                                .react-select__single-value{
                                    font-size: 1rem;
                                    color: white;
                                }
                            }
                            .react-select__indicators{
                                border: none;
                                padding: 0;
                                .react-select__indicator-separator{
                                    display: none;
                                }
                                .react-select__indicator{
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                    .student-content-search-btn{
                        background: #404040;
                        color: #a8a8a8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: calc(2rem - 1rem);
                        padding: 0.5rem 1.5rem;
                        margin-left: 0.5rem;
                        cursor: pointer;
                        min-width: 40px;
                        text-decoration: none;
                        &:hover{
                            color: #777676;
                        }
                    }
                }
            }
            .student-content-header-right{
                width: 20%;
                display: flex;
                justify-content: flex-end;
                .student-register{
                    border: 1px solid #a6a6a6;
                    border-radius: 20px;
                    color: white;
                    font-size: 1.2rem;
                    padding: 0.2rem 1.5rem;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover{
                        color: #777676;
                    }
                }
            }
        }
        .student-content-body-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .student-content-body-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                background: #262626;
                width: 100%;
                height: 3rem;
                .student-content-body-header-btn{
                    display: none;
                }
                input[id="btn"] + label {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #a6a6a6;
                    margin: 0 8vw;
                    margin-left: 16vw;
                    cursor: pointer;
                    text-align: center;
                }
                input[id="btn"]:checked + label {
                    color: white;
                    font-size: 1.3rem;
                }
                .student-content-body-header-text{
                    color: #a6a6a6;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    &:nth-child(3){
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                    }
                    &:nth-child(4){
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                    }
                    &:nth-child(5){
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .student-content-body{
                width: 100%;
                min-height: calc(100vh - 18rem);
                .studentcontent-container{
                    width: 100%;
                    height: 3rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.1rem;
                    &:nth-child(1){
                        padding-top: 1rem;
                    }
                    &:nth-child(2n){
                        background-color: #171717;
                    }
                    .studentcontent-checkbox{
                        width: 20px;
                        height: 20px;
                        border: 1px solid #a6a6a6;
                        margin: 0 8vw;
                        margin-left: 16vw;
                        cursor: pointer;
                        text-align: center;
                    }
                    .checked{
                        color: white;
                        font-size: 1.3rem;
                    }
                    .studentcontent-name{
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        &:hover{
                            color: #777676;
                        }
                    }
                    .studentcontent-grade{
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                    }
                    .studentcontent-group{
                        width: 16vw;
                        display: flex;
                        justify-content: center;
                    }
                    .studentcontent-modify-remove{
                        width: calc(28vw - 20px);
                        display: flex;
                        justify-content: center;
                        .studentcontent-modify{
                            cursor: pointer;
                            &:hover{
                                color: #777676;
                            }
                        }
                        .studentcontent-remove{
                            margin-right: 8vw;
                            cursor: pointer;
                            &:hover{
                                color: #777676;
                            }
                        }
                    }
                }
            }
            .student-content-footer{
                display: flex;
                flex-direction: row;
                margin-top: 4rem;
                .student-content-body-footer{
                    color: white;
                    border: 1px solid #a6a6a6;
                    padding: 0.7rem 1.5rem;
                    font-size: 1.2rem;
                    cursor: pointer;
                    &:hover{
                        color: #777676;
                    }
                    &:nth-child(1){
                        margin-right: 20px;
                        margin-left: 10vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .student-container{
        .student-content-container{
            .student-content-header-container{
                padding: 0;
                padding-top: 1rem;
                width: 100%;
                height: 5rem;
                .student-content-header-left{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    .student-content-title{
                        
                    }
                    .mobile-separator{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 1rem;
                        margin-bottom: 0.5rem;
                        .student-dropdown-first{
                            min-width: 4rem;
                            margin-left: 0;
                        }
                        .student-content-dropdown-first{
                            min-width: 4rem;
                            margin-left: 0;
                        }
                        .student-content-dropdown-second{
                            min-width: 4rem;
                        }
                        .student-content-search-input{
                            width: 20vw;
                        }
                        .group-btn{
                            position: absolute;
                            top: 110px;
                            right: 10px;
                            border: 1px solid #a6a6a6;
                            border-radius: 20px;
                            color: white;
                            font-size: 1.2rem;
                            padding: 0.2rem 1.5rem;
                            text-decoration: none;
                            cursor: pointer;
                            &:hover{
                                color: #777676;
                            }
                            background-color: black;
                        }
                    }
                    
                }
                .student-content-header-right{
                    width: 0;
                    .student-register{
                        position: absolute;
                        top: 110px;
                        left: 10px;
                    }
                }
            }
            .student-content-body-container{
                .student-content-footer{
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    width: 100%;
                    .student-content-body-footer{
                        width: 50%;
                        font-size: 1rem;
                        margin-left: 10vw;
                        margin-bottom: 1rem;
                        padding: .7rem 2rem;
                    }
                }
                .student-content-body{
                    margin-bottom: 5rem;
                    min-height: calc(100% - 23rem);
                    .studentcontent-container{
                        .studentcontent-checkbox{
                            margin-left: 10vw;
                        }
                        .studentcontent-name{
                            width: 25vw;
                            font-size: 1rem;
                        }
                        .studentcontent-grade{
                            width: 20vw;
                            font-size: 1rem;
                        }
                        .studentcontent-group{
                            width: 25vw;
                            font-size: 1rem;
                        }
                        .studentcontent-modify-remove{
                            display: none;
                        }
                    }
                }
                .student-content-body-header{
                    input[id="btn"] + label{
                        margin-left: 10vw;
                    }
                    .student-content-body-header-text{
                        &:nth-child(3){
                            width: 25vw;
                            font-size: 1rem;
                        }
                        &:nth-child(4){
                            width: 20vw;
                            font-size: 1rem;
                        }
                        &:nth-child(5){
                            width: 25vw;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}