.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100vw;
    .header-data{
        display: flex;
        flex-direction: row;
        
        .header-data-content{
            color: white;
            font-weight: 500;
            font-size: 1.4rem;
            text-decoration: none;
            &:nth-child(1){
                margin: 0 1vw;
            }
            &:nth-child(2){
                margin: 0 1vw;
            }
            &:nth-child(3){
                margin: 0 1vw;
            }
        }
    }
    .header-logo{
        padding: 0 4vw;
        padding-left: 2vw;
        border-right: 1px solid #a6a6a6;
    }
    .link-dae-home{
        font-size: 1.1rem;
        padding: 0 2vw;
        border-right: 1px solid #a6a6a6;
        border-left: 1px solid #a6a6a6;
        min-width: 120px;
        display: flex;
        justify-content: center;
    }
    .link-dae-app{
        font-size: 1.1rem;
        padding: 0 2vw;
        border-right: 1px solid #a6a6a6;
        min-width: 180px;
        text-decoration: none;
        color: #a6a6a6;
        display: flex;
        justify-content: center;
    }
    .link-login{
        color: #a6a6a6;
        text-decoration: none;
        display: flex;
        min-width: 100px;
        padding: 0 2vw;
        font-size: 1.3rem;
    }
    .span{
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        .link-login{
            color: #a6a6a6;
            text-decoration: none;
            display: flex;
            min-width: 100px;
            &:nth-child(1){
                padding-right: 0;
                justify-content: flex-end;
            }
            &:nth-child(2){
                padding-left: 0;
            }
        }
    }
}