@font-face { font-family: 'yun'; src: url(../src/fonts/윤고딕320.ttf) format('truetype'); }
@font-face { font-family: 'yun bold'; src: url(../src/fonts/윤고딕350.ttf) format('truetype'); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: #a6a6a6;
  font-family: 'yun';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

